<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.youngo.admin.mapper.chat.AdminChatMapper">

    <resultMap id="chatUser" type="com.youngo.admin.model.chat.AdminChatUser"/>

    <select id="getChatUser" resultMap="chatUser">
        SELECT
        user.id,
        user.userName,
        user.nickName,
        user.icon
        FROM t_user user
        WHERE user.id=#{id};
    </select>

</mapper>